body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.hero {
	display: flex;
	justify-content:center;
	align-items:center;
}
.hero-image {
	height: 200px;
	width:350px;
	object-fit:cover;
}

.col-2{
	padding: 10px;
	height: 200px;
	width: 350px;
	justify-content:center;
	align-items: center;
}
.explore-button {
	padding: 10px;
	background-color: red;
	color:white;
	border: 1px solid red;
	border-radius: 5px;
	
}